/* User custom styles */

* {
	border-radius: 10px;
	font-size: 13px;
}

#waybar {
	border-radius: 10px;
}

#clock {
	color: #FF007F;
	border-radius: 10px;
}

#workspaces button {
	padding: 10px;
}

#workspaces button.active {
	padding-top: 20px;
	color: #FF0000;
	background-color: transparent;
}

#cpu {
	color: #FFD700;
}

#memory {
	color: #E6BE8A;
}

#custom-launcher {
    /* Set the path to your PNG file */
    background-image: url('./assets/controller.png');
    
    /* Ensure the image is positioned and sized correctly */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* or specify a size like 20px */
    
    /* Add padding/margin as needed for spacing */
    padding: 0 10px; 
    font-size: 20px; /* Adjust font size to control the module's height */
}

#taskbar button {
	padding: 10px;
}

#taskbar button.active {
	background-color: rgba(169, 169, 169, 0.2); /* Red with 50% opacity */
}

#taskbar button.fullscreen {
	padding: 0px;
}

#network {
	padding: 10px;
}

#custom-separator {
  padding: 10px;
  color: #444;
}
